table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    font-family: sans-serif;
    
}
td, td {
border: 1px solid black;
padding: 5px;

}
th {
    background-color: #ccc;
}
body table{
    background-image: url(kalfe.png);
}
body h1{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(255, 0, 0, 0.61);
}